@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  #__next {
    @apply h-full;
  }
}

html,
body {
  margin: 0;
  height: 100%;
}

button:disabled {
  cursor: not-allowed;
}
