
# directories
.yarn/
artifacts/
build/
cache/
coverage/
dist/
lib/
node_modules/
typechain/
test/merkle-distributor

# files
*.env
*.log
*.tsbuildinfo
.pnp.*
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
MerkleDistributor.sol
IMerkleDistributor.sol
