@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-variant-numeric: slashed-zero;
}

body {
  margin: 0;
  height: 100vh;
  /* background: radial-gradient(50% 50% at 50% 50%, #07fcbf10 0, rgba(255, 255, 255, 0) 100%); */
  background: radial-gradient(circle at 10% 60%, rgba(13, 148, 136, 0.11), rgba(255, 255, 255, 0) 90.71%),
    radial-gradient(circle at 90% 90%, rgba(13, 148, 137, 0.048), rgba(255, 255, 255, 0) 70.71%) 100%,
    radial-gradient(circle at 50% 0, rgba(45, 212, 190, 0.075), rgba(255, 255, 255, 0) 70.71%);
}

button:disabled {
  cursor: not-allowed;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input {
  font-feature-settings: 'ss01' on, 'ss02' on, 'cv01' on, 'cv03' on;
}

a:hover {
  @apply underline;
}
